<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./fontawesome-free-5.15.4-web/css/all.min.css" />
    <script src="./js/pasarPagina.js"></script>
    <title>Preguntas monumentos</title>
    <link rel="stylesheet" type="text/css" href="./style/provinciaBorrador.css">
</head>

<body>

    <img id="piedra" width="80px" src="../images/piedra.png" class="position-absolute " style="z-index:2;display: none;">
    <!--La cabecera -->
    <div class="row">
        <div class="col-4 px-5 d-flex align-items-center">
            <h1>Monumento</h1>
        </div>
        <div class="col-4 d-flex justify-content-center  my-3 ">
            <div class="col-3 border  border-dark py-1 bg-secondary text-center fs-2 rounded-pill" id="cronometro">
            </div>
        </div>
        <div class="col-4 row d-flex justify-content-center align-items-center">
            <div class="col-6 text-danger h1 d-flex justify-content-evenly" id="vidas"></div>
            <div class="col-6 h2" id="puntos">5000</div>
        </div>
    </div>

    <img id="heart" class="d-none" src="../images/heart.gif" width="100px" height="100px"
        style="position: absolute; top:150px ; left: 250px;">
        
    <div id="fondo" style="height: 500px; background: linear-gradient(rgba(255, 255, 255, 0.267), rgba(255, 255, 255, .5)), url('./../images/sueloSevilla.jpg');
                background-repeat: no-repeat;
                background-size: cover;">

        <div class="text-center" id="munieco" style="position: absolute;z-index:1; top:300px"></div>

        <div class="text-center">
            <img id="monumento" class="position-absolute" src="../images/archivo-indias-1.jpg" width= "200px" height="200px" style="top:300px">
        </div>
        <img id="nube1" src="../images/nube1.png"  style="position:relative ;display: none;">
        <img id="nube2" src="../images/nube2.png" class="position-absolute " style="display: none;">
        <img id="nube3" src="../images/nube3.png" class="position-absolute " style="display: none;" >
        <img id="nube4" src="../images/nube4.png" class="position-absolute " style="display: none;">
        <img id="nube5" src="../images/nube5.png" class="position-absolute " style="display: none;">

       

        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
         <div  id="div" style="background-color: blue; width: 150px; width: 150px; position: relative;">
            cuadrado
        </div>
         </button> -->

        <!-- Modal -->
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title fw-bold" id="staticBackdropLabel">
                        </h5>
                        <button type="button" class="btn-close botonCerrar" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <img src="" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col text-center py-4">
                            <input type="radio" class="btn-check bg-success" name="options-outlined"
                                id="danger-outlined-1" autocomplete="off">
                            <label class="btn btn-outline-info text-black" for="danger-outlined-1"></label>

                            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-2"
                                autocomplete="off">
                            <label class="btn btn-outline-info text-black" for="danger-outlined-2"></label>

                            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-3"
                                autocomplete="off">
                            <label class="btn btn-outline-info text-black" for="danger-outlined-3"></label>

                            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-4"
                                autocomplete="off">
                            <label class="btn btn-outline-info text-black" for="danger-outlined-4"></label>
                        </div>
                    </div>
                    <div class="modal-footer bg-success">
                        <button type="button" class="btn btn-secondary bg-white botonCerrar" id="botonPregunta"
                            data-bs-dismiss="modal" style="color: black;">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalMunieco" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title fw-bold" id="staticBackdropLabel">¿Cuál eliges para tu personaje?
                        </h5>
                    </div>
                    <div class="modal-body">

                        <input type="radio" class="btn-check" name="options-outlined" id="m1" autocomplete="off"
                            required>
                        <label class="btn btn-outline-success" for="m1"><img
                                src="./../images/Crab/49839aa1b0feed02a3c759db5f8dee71.svg" width="200px"
                                height="200px"></label>

                        <input type="radio" class="btn-check" name="options-outlined" id="m2" autocomplete="off"
                            required>
                        <label class="btn btn-outline-success text-black" for="m2"><img
                                src="./../images/Dog2/6afc06388d69f99e28d883126f9b2734.svg" width="200px"
                                height="200px"></label>

                        <input type="radio" class="btn-check" name="options-outlined" id="m3" autocomplete="off"
                            required>
                        <label class="btn btn-outline-success " for="m3"><img
                                src="./../images/Bear-walking/0a38a860f2e573b8dc5b09f390d30fbd.svg" width="200px"
                                height="200px"></label>

                        <input type="radio" class="btn-check" name="options-outlined" id="m4" autocomplete="off"
                            required>
                        <label class="btn btn-outline-success" for="m4"><img
                                src="./../images/Cat/0fb9be3e8397c983338cb71dc84d0b25.svg" width="200px"
                                height="200px"></label>

                    </div>
                    <div class="modal-footer bg-success">
                        <button id="modalMuniecoEvento" type="button"
                            class="btn btn-success botonCerrar bg-white">Play!</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>