.btn-outline-info:hover{
    background: gray;
    border-color: gray
}
.btn-outline-info{
    border-color: gray;
}
#modalMuniecoEvento{
    color: black;
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0.267), rgba(255, 255, 255, .5)) , url("../../images/monumentos/Torre-del-Oro-Sevilla.jpg");
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-attachment: fixed!important;   
}

#heart{
    position: absolute; top:0px ; left: 250px;
}

#munieco{
    position: absolute;z-index:2; top:300px;
}

#monumento{
    top:400px;z-index:1;
}

#botonPregunta{
    color: black!important;
}

#impacto{
    z-index:4 ;top:520px;display: none;
}