.btn-outline-info:hover{
    background: gray;
    border-color: gray
}
.btn-outline-info{
    border-color: gray;
}
#modalMuniecoEvento{
    color: black;
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0.267), rgba(255, 255, 255, .5)) , url("../../images/monumentos/Torre-del-Oro-Sevilla.jpg");
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-attachment: fixed!important;   
}